[blame]
	coloring = repeatedLines
	date = iso
[clean]
	requireForce = true
[color]
	advice = auto
	branch = auto
	diff = auto
	push = auto
	showBranch = auto
	status = auto
	transport = auto
	ui = auto
[color "diff"]
	old = brightred
	oldMoved = brightred
	new = brightgreen
	newMoved = brightgreen
[color "status"]
	added = brightgreen
	changed = brightred
	untracked = brightred
[column]
	ui = auto,column,nodense
[core]
	commentChar = "#"
	compression = 9
	hideDotFiles = true
[diff]
	algorithm = minimal
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[log]
	date = iso
[pull]
	rebase = false
[user]
	email = 19171016+tfpf@users.noreply.github.com
	name = Vishal Pankaj Chandratreya
