set bell-style audible
set bind-tty-special-chars on
set blink-matching-paren off
set byte-oriented off
set colored-completion-prefix on
set colored-stats off
set comment-begin #
set completion-display-width -1
set completion-ignore-case off
set completion-map-case off
set completion-prefix-display-length 0
set completion-query-items 100
set convert-meta off
set disable-completion off
set echo-control-characters on
set editing-mode emacs
set emacs-mode-string @
set enable-bracketed-paste on
set enable-keypad off
set enable-meta-key on
set expand-tilde off
set history-preserve-point off
set history-size 1000
set horizontal-scroll-mode off
set input-meta on
set keymap emacs
set keyseq-timeout 500
set mark-directories on
set mark-modified-lines off
set mark-symlinked-directories off
set match-hidden-files off
set menu-complete-display-prefix off
set meta-flag on
set output-meta on
set page-completions on
set prefer-visible-bell on
set print-completions-horizontally off
set revert-all-at-newline off
set show-all-if-ambiguous off
set show-all-if-unmodified off
set show-mode-in-prompt off
set skip-completed-text off
set vi-cmd-mode-string (cmd)
set vi-ins-mode-string (ins)
set visible-stats off
