[blame]
	coloring = repeatedLines
	date = iso
[color]
	advice = auto
	branch = auto
	diff = auto
	push = auto
	showBranch = auto
	status = auto
	transport = auto
	ui = auto
[color "diff"]
	old = red
	oldMoved = red
	new = green
	newMoved = green
[color "status"]
	changed = red
	untracked = red
[column]
	ui = auto,column,nodense
[core]
	compression = 9
[log]
	date = iso
[user]
	email = 19171016+tfpf@users.noreply.github.com
	name = tfpf
